html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
html{
	background-color: white;
}
body {
	min-width: 950px;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: "Open Sans";
    src: url("../file/OpenSans-Regular.ttf");
}

body{
    font-family: "Open Sans", SansSerif, serif;
}

header{
	border-bottom: 4px solid #E4A756;
	background-color: #f3b562;
	height: 84px;
	color: white;
}

header a{
	color: white;
	text-decoration: none;
}

header .left{
	float: left;
	width: 400px;
	height: 80px;
	line-height: 80px;
	font-size: 30px;
}

header .left h1{
	margin: 0;
}

header .left h1 .fa{
	font-size: 45px;
	position: relative;
	top: 5px;
	margin: 0 10px 0 15px;
}

header .middle{
	float: left;
	height: 80px;
	line-height: 80px;
}

header .middle nav a{
	width: 99px;
	display: inline-block;
	height: 80px;
	text-align: center;
}

header .middle nav a i{
	display: block;
	width: 100px;
	height: 45px;
	font-size: 25px;
	line-height: 45px;
}

header .middle nav a span{
	display: block;
	width: 100px;
	height: 28px;
	font-size: 20px;
	line-height: 28px;
}

header a:hover{
	background-color: #f06060;
	transition-duration:0.15s;
	height: 84px !important;
	border-bottom: 4px solid #D3464D;
}

header .right{
	float: right;
}

header .right a{
	float: right;
	width: 100px;
	display: inline-block;
	height: 80px;
	text-align: center;
}

header .right div.search{
	width: 275px;
	display: inline-block;
}

header .right a i{
	display: block;
	width: 100px;
	height: 45px;
	font-size: 25px;
	line-height: 45px;
}

header .right a span{
	display: block;
	width: 100px;
	height: 28px;
	font-size: 20px;
	line-height: 28px;
}

#main{
	min-height: 360px;
}

footer{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

footer .block{
	display: inline-block;
	float: left;
	padding: 20px;
}

footer .about{
	background-color: #f06060;
	width: 27.5%;
	color: white;
}

footer .where{
	background-color: #354054;
	width: 45%;
}

footer .where img{
	width: 100%;
}

footer .info{
	background-color: #8bbdb2;
	width: 27.5%;
	color: #1e2829;
}

footer .about{
	background-color: #f06060;
	width: 27.5%;
}

footer h3{
	font-size: 23px;
	margin-bottom: 15px;
}

footer p{
	font-family: calibri;
	margin-top: 15px;
}

footer a{
	font-family: calibri;
	color: #1e2829;
	text-decoration: none;
}

footer li{
	margin-top: 10px;
}

footer .social{
	float: right;
	font-size: 35px;
	margin-top: 25px;
}

footer .social .a{
	display: inline-block;
	margin-left: 10px;
}

/* LOGIN PAGE | REGISTER PAGE */

.standalone-main{
	padding-bottom: 25px;
}

h1.standalone-title{
	display: inline-block;
	width: 100%;
	color: #262626;
	font-size: 35px;
	margin: 25px auto;
	text-align: center;
}

.standalone-form{
	width: 350px;
	margin: auto;
	padding: 25px 0 8px 0;
	background-color: #354054;
	border-bottom: 5px solid #74A79C;
}

.standalone-form .line{
	width: 300px;
	margin: 0 auto 15px auto;
}

.standalone-form .line i.fa{
	float: left;
	width: 50px;
	height: 50px;
	font-size: 35px;
	text-align: center;
	line-height: 50px;
	color: white;
	background-color: #8bbdb2;
}

.standalone-form .line input[type="email"],
.standalone-form .line input[type="password"],
.standalone-form .line input[type="text"]{
	box-sizing: border-box;
	border: none;
	width: 250px;
	height: 50px;
	padding: 0 15px;
	outline: none;
	line-height: 50px;
}

.standalone-form .line input[type="date"]{
	box-sizing: border-box;
	border: none;
	width: 250px;
	padding: 13px 15px;
	outline: none;	
}

.standalone-form .line a{
	font-size: 14px;
	color: white;
	text-decoration: none;
}

.standalone-form .line input[type="submit"]{
	background-color: #8bbdb2;
	border-bottom: 3px solid #669C90;
	width: 100%;
	height: 50px;
	color: white;
	line-height: 50px;
	font-size: 20px;
	cursor: pointer;
	outline: none;
	transition-duration:0.15s;
}

.standalone-form .line input[type="submit"]:hover{
	background-color: #97CEC2;
	border-bottom: 3px solid #81B5AA;
}

.standalone-form .line input[type="email"].error,
.standalone-form .line input[type="password"].error,
.standalone-form .line input[type="text"].error,
.standalone-form .line input[type="date"].error{
	background-color: #FFD5D5;
}

.standalone-form .message{
	width: 100%;
	padding: 5px;
}

.standalone-form .error{
	background-color: #f0786f;
	border-bottom: 1px solid #f0625b;
	clear: both;
	display: block;
	color: white;
}

.flash{
	width: 600px;
	position: fixed;
	z-index: 1000;
	margin-left: auto;
	margin-right: auto;
	top: 100px;
	padding: 16px;
	left: 0;
	right: 0;
	background-color: #9fc7be;
	color: white;
	border-bottom: 3px solid #8bb3aa;
}

.flash .fa{
	float: right;
	cursor: pointer;
}

.page{
    /*background-color: hsl(34, 100%, 95%);*/
    background-color: white;
    min-height: 300px;
    width: 990px;
    margin: auto;
    padding:30px;
	font-family: Calibri;
}

/* FORM PAGE */

.page label{
    display: inline-block;
    width: 150px;
    height: 35px;
    line-height: 35px;
    margin-bottom: 15px;
}

.page label#checkbox-cgu{
	width: 450px;
}

.page input[type="email"],
.page input[type="text"],
.page input[type="password"]{
    display: inline-block;
    width: 300px;
    border: 1px solid rgb(180,180,180);
    height: 35px;
    line-height: 35px;
    margin-bottom: 5px;
    padding: 0 10px;
    outline: none;
}

.page textarea{
	width:448px;
}

.page select{
	display: inline-block;
	width: 300px;
	border: 1px solid rgb(180,180,180);
	height: 35px;
	line-height: 35px;
	margin-bottom: 5px;
	padding: 0 10px;
	outline: none;
}

.page input[type="submit"]{
    width: 150px;
    margin: 20px 0;
    background-color: #ed525a;
    border-bottom: 3px solid #D3464D;
    color: white;
    cursor: pointer;
    height:40px;
    transition-duration:0.15s;
    outline: none;
}

.page input[type="submit"]:hover{
    background-color: #E4686E;
    border-bottom: 3px solid #c84a4f;
}

.page .message{
    display: inline-block;
    width: 300px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    position: relative;
    left: -4px;
}

.page .error{
    background-color: #f0786f;
    border-bottom: 1px solid #f0625b;
    clear: both;
    color: white;
}

.page .clear{
    clear: both;
}

.page h2.no-result{
    text-align: center;
    font-size:30px;
}

.page p{
    margin-bottom: 10px;
    text-align: justify;
}

.page a.button{
    width: 150px;
    display: inline-block;
    text-align: center;
    line-height: 37px;
    text-decoration: none;
    background-color: #ed525a;
    border-bottom: 3px solid #D3464D;
    color: white;
    cursor: pointer;
    height:40px;
    transition-duration:0.15s;
}

.page a.right{
    float: right;
}

.page a.button:hover{
    background-color: #E4686E;
    border-bottom: 3px solid #c84a4f;
}

.page #items{
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
}

.page #items .item{
	width: 270px;
	margin: 20px;
}

.page #items .item h2{
	font-size: 25px;
	text-align: center;
}

.page #items .item img.preview{
	max-width: 300px;
	max-height: 325px;
	display: block;
	margin: auto;
	border-radius: 3px;
}

.page #items .item span.price{
	font-size: 30px;
	display: block;
	text-align: center;
}

.page #items .item span.description{
	font-size: 15px;
	display: block;
	text-align: center;
	margin: 5px 0;
}

.page #items .item .button{
	margin: auto;
	display: block;
}

.page table.table{
	display: table!important;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 5px;
	background-color: #FFF;
	border-bottom: 5px solid #f06060;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	border-spacing: 0;
	border-collapse: collapse;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

table.table thead {
	border: 1px solid #cb4b29;
	border-bottom: 6px solid #d35757;
}

table.table th {
	height: 30px;
	line-height: 30px;
	background-color: #f06060;
	color: white;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 0 10px 0 10px;
}

table.table th.icon {
	width: 55px;
}

table.table th.quantity{
	width: 100px;
}

table.table th.price{
	width: 100px;
}

table.table td {
	border: 1px solid #CACACA;
	padding: 0 10px 0 10px;
	min-height: 55px;
	line-height: 55px;
}

table.table td.icon {
	vertical-align: top;
	width: 55px;
	height: 55px;
	padding: 0;
}

table.table td.icon img {
	width: 55px;
	height: 55px;
	display: block;
}

.page a{
	color: #f06060;
}

ul.resume strong{
	font-weight: 900;
}

h3.policy{
	font-size: 25px;
	margin: 16px 0
}

h4.policy{
	font-size: 20px;
	margin: 16px 0;
}